<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>

    <div class="container">
      <div class="welcomeBox">
        <h3>~ <%= oneUser[0].username %>'s Profile ~</h3>
      </div>


      <div id="addRecModel" class="modelBox">
        <div class="recDataForm">
          <div class="flexRSB">
            <h1 class="h1IBlock">Add a Recipe</h1>
            <button id="closeAddRecBut" class="neverMind"><a href='/profile/<%= oneUser[0]._id %>'>Nevermind!</a></button>
          </div>
         <form action='/recipes/new' method='post'>
           <input class="input" type="text" name="title" maxlength="15" placeholder="Title"/><br>

           <h5>Description</h5>
           <textarea class="input" name="description" rows="5" cols="80"></textarea><br>

           <h5>Ingredients</h5>
           <input class="input wideInput" type="text" name="ingrediants" placeholder="Ingredient 1, Ingredient 2... ect"/>

            <h5>Instructions: Please add more steps if needed (ex: Step #:)</h5>
           <textarea class="input" name="instructions" rows="5" cols="80"></textarea><br>

           <input class="input" type="text" name="imgUrl" placeholder="Image URL"/>

           <input class="input" type="hidden" name="user" value="<%= oneUser[0]._id %>">

           <button class="go" type="submit">ADD Recipe</button>
         </form>
        </div>
      </div>



      <% recipes.forEach((Recipe, i) => { %>

        <div id="editRecModel<%= i %>" class="modelBox editModel">
          <div class="recDataForm">
            <div class="flexRSB">
              <h1 class="h1IBlock">Edit <%=Recipe.title%></h1><br>
              <button id="closeEditRecBut<%= i %>" class="neverMind">Nevermind</button>
            </div>
           <form action="/recipes/<%=Recipe._id%>?_method=PUT" method="POST">
             <input class="input" type="text" name="title" maxlength="15" value="<%=Recipe.title%>"/><br>

             <h5>Description</h5>
             <textarea class="input" name="description" rows="5" cols="80" value="<%=Recipe.description%>"><%=Recipe.description%></textarea><br>

             <h5>Ingrediants</h5>
             <input class="input wideInput" type="text" name="ingrediants" value="<%=Recipe.ingrediants%>"/>
              <h5>Instructions: Please add more steps if needed (ex: Step #:)</h5>
             <textarea class="input" name="instructions" rows="5" cols="80" value="<%=Recipe.instructions%>"><%=Recipe.instructions%></textarea><br>
             <input class="input" type="text" name="imgUrl" value="<%=Recipe.imgUrl%>"/>

             <button class="go" type="submit">Update Recipe</button>
           </form>
          </div>
        </div>
       <% }) %>



       <div class="flexRSB2">
         <div class="">
           <p class="headlineMedium">Your Recipes</p>
           <p id="addRecButton" class="addAButton">Add a Recipe</p>
         </div>

         <div class="myButton">
           <a href="/Recipes"><i class="material-icons">visibility</i>Find new Recipes</a>
         </div>
       </div>

      <hr class="line">
      <div class="flexRCW">
        <% for (let i = 0; i < recipes.length; i++) { %>
          <div class="recipeBox">
            <a href="/recipes/<%= recipes[i]._id %>"><%= recipes[i].title %></a><br>
            <div class="imageBox">
              <a href="/recipes/<%= recipes[i]._id %>"><img src="<%= recipes[i].imgUrl %>" alt="<%= recipes[i].title %>"></a><br>
            </div>

            <div class="buttonBox">
              <button id="openEditRecBut<%= i %>" class="editBtn" type="button" >Edit</button>
              <form class="deleteForm" action="/recipes/<%= recipes[i]._id %>?_method=DELETE" method="POST">
              <input class="removeRec" type="submit" value="Remove">
              </form>
            </div>
          </div>
         <% } %>
      </div>
    </div>
  </body>
</html>
