<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>

    <div class="container">
      <h3><%= oneUser[0].username %>'s Profile</h3>


      <div id="addRecModel" class="recDataForm">
        <div class="flexRSB">
          <h1 class="h1IBlock">Add a Recipe</h1>
          <button class="neverMind"><a href='/profile/<%= oneUser[0]._id %>'>Nevermind!</a></button>
        </div>
       <form action='/recipes/new' method='post'>
         <input class="input" type="text" name="title" placeholder="Title"/><br>
         <h5>Ingrediants</h5>
         <input class="input wideInput" type="text" name="ingrediants" placeholder="Ingrediant 1, Ingrediant 2... ect"/>
          <h5>Instructions: Please add more steps if needed (ex: Step #:)</h5>
         <textarea class="input" name="instructions" rows="8" cols="80" placeholder="Instructions">
Step 1:
Step 2:
         </textarea><br>
         <input class="input" type="text" name="imgUrl" placeholder="Image URL"/>

         <input class="input" type="hidden" name="user" value="<%= oneUser._id %>">

         <button class="go" type="submit">ADD Recipe</button>
       </form>
      </div>



      




      <h4 class="headlineMedium">You're Recipes</h4>
      <hr class="line">
      <div class="flexRW">
        <% for (let Recipe of recipes) { %>
          <div class="recipeBox">
            <a href="/recipes/<%= Recipe._id %>"><%= Recipe.title %></a>
             <img src="<%= Recipe.imgUrl %>" alt="<%= Recipe.title %>"><br>

             <button class="edit" type="button" ><a href="/recipes/<%= Recipe._id %>/edit">Edit</a></button>
             <form class="deleteForm" action="/recipes/<%= Recipe._id %>?_method=DELETE" method="POST">
               <input class="removeRec" type="submit" value="Remove">
             </form>
          </div>
         <% } %>
      </div>
    </div>
  </body>
</html>
