<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Recipe Edit

      <h1>Edit a Recipe</h1>
   <form action="/recipes/<%=Recipe._id%>?_method=PUT" method="POST">
     <input type="text" name="title" value="<%=Recipe.title%>"/>
     <input type="text" name="instructions" value="<%=Recipe.instructions%>"/>
     <input type="text" name="imgUrl" value="<%=Recipe.imgUrl%>"/>
     <input type="text" name="categories" value="<%=Recipe.categories%>"/>

     <button type="submit">Edit Recipe</button>
   </form>

   <button><a href='/recipes/Recipe._id'>Nevermind!</a></button>

  </body>
</html>
