<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Recipe Show
    <a href="/recipes/<%= oneRecipe._id %>/edit">Edit</a>
    <ul>
      <li><%= oneRecipe.title %></li>
      <li><%= oneRecipe.instructions %></li>
      <li><img src="<%= oneRecipe.imgUrl %>" alt="Recipe Image"></li>
      <li><%= oneRecipe.categories %></li>
    </ul>

    <form class="deleteForm" action="/recipes/<%= oneRecipe._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Recipe">
    </form>
  </body>
</html>
