<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/recipes">Back to Recipes</a>
    Recipe Show
    <a href="/recipes/<%= oneRecipe._id %>/edit">Edit</a>
    <ul>
      <li><%= oneRecipe.title %></li>
      Instructions
      <% for (let recipe of recipeInst) { %>
        <li><%= recipe %></li>
      <% } %>

      <li><img src="<%= oneRecipe.imgUrl %>" alt="Recipe Image"></li>
      <li><%= oneRecipe.categories %></li>
    </ul>


  </body>
</html>
